/* Wrapper to prevent bottom nav bar from hiding content*/
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 100px;
} 

h1 {
  text-align: center;
}

/* BIZ INFO SECTION */


#bizInfo {
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  margin-bottom: 10px;
  background-color: #368F8B;
  border: 5px solid #160F29;
  padding: 20px ;
  text-align: center;
}


#address {
  font-size: 1em;
  background-color: #368F8B;
  padding: 10px;
}

#afford, #customer, #product, #knowledge {
  display: inline-flex;
  margin-bottom: 10px;
  color: white;
  width: 100%;
}


/* REVIEW SECTION */
#reviewSection {
  font-family: Arial;
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  padding: 20px;
  text-align: center;
  background-color: #368F8B;
  border: 5px solid #160F29;
}

#otherReviews {
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  margin-bottom: 10px;
  background-color: #368F8B;
  border: 5px solid #160F29;
  padding: 20px ;
}

#review {
  margin-bottom: 10px;
  background-color: #160f29;
}

#timestamp {
  margin-right: 10px;
  margin-top: 5px;
  font-size: 12px;
  float: right;
}

#username {
  font-size: 20px;
  margin-left: 10px;
}

#criteria {
  display: inline-flex;
  color: black;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 10px;
}

#detailedRev {
  background-color: #f3DFC1;
  color: black;
  padding: 5px;
  width: 100%;
}

/* Pop-up Review Form*/
.form-popup {
  display: none;
  position: fixed;
  transform: translate(-50%, -60%);
  top: 50%;
  left: 50%;
  width: 95%;
  height: 72.3%;
  overflow: scroll;
  z-index: 10;
  text-align: center;
  border: 5px solid #DDBEA8;
}

/* Add styles to the form container */
.form-container {
  width: 100%;
  height: auto;
  background-color: #160F29;
  margin: auto;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  width: 100%;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

#reviewSelectors {
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;
  justify-content: center;
}

#categories > h5{
  grid-column: 1/2;
  font-size: 0.9rem;
  margin: 5px;
}

.ratingCategory{
  grid-column: 2/3;
}

#textreview {
  margin-top: 10px;
  grid-column: 1/span 2;
}

textarea {
  grid-column: 1/ span 2;
  resize: none;
  width: 90%;
}

fieldset {
  margin-top: 1.5px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/*Stars*/
input {
  display: none;
}

label {
  font-size: 0.9rem;
  float: right;
  margin-right: 12px;
}

input:checked ~ label {
  color: gold;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*MEDIA QUERIES*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Tablet:768px. */
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 26px; 
   }
 }

 h2 {
  font-size: 24px; 
 }
}
 
/* Mobile :320px. */
@media (max-width: 767px) {
  h2 {
    font-size: 20px; 
   }
 } 
  
  p {
    font-size: 18px;
    margin: 0px;
   }
 }