/* Wrapper to prevent bottom nav bar from hiding content*/
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 100px;
} 

/* BIZ INFO SECTION */

#bizInfo {
  display: grid;
  grid-template-columns: 30% 60%;
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  margin-bottom: 10px;
  background-color: #368F8B;
  border: 5px solid #160F29;
  padding: 20px ;
}

h1 {
  text-align: center;
}

#address {
  text-align: left;
  grid-column: 1/2;
  font-size: 1em;
  background-color: #368F8B;
  padding: 10px;
}

#gallery {
  grid-column: 2/3;
}


/* REVIEW SECTION */
#reviewSection {
  font-family: Arial;
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  padding: 20px;
  text-align: left;
  background-color: #368F8B;
  border: 5px solid #160F29;
}

#otherReviews {
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  margin-bottom: 10px;
  background-color: #368F8B;
  border: 5px solid #160F29;
  padding: 20px ;
}

#review {
  margin-bottom: 20px;
  background-color: #160f29;
}

#timestamp {
  float: left;
  margin-left: 5px;
}

#username {
  float: right;
  margin-right: 5px;
}

#criteria {
  display: inline-flex;
  color: black;
}

#criteria > div {
  text-align: center;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

#detailedRev {
  background-color: #f3DFC1;
  color: black;
  padding: 5px;
  width: 100%;
}

/* Pop-up Review Form
/* Button used to open the contact form - fixed at the bottom of the page */
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border: 3px solid #f1f1f1;
  z-index: 10;
  height: auto;
  overflow-y: scroll;
}

/* Add styles to the form container */
.form-container {
  max-width: 100%;
  height: 90%;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

.ratingCategory > h3 {
  margin-bottom: 0px;
}

#reviewAdd > h5 {
  color: black;
}

/*Stars*/
input {
  display: none;
}

label {
  font-size: 30px;
  float: right;
  margin-right: 17px;
}

input:checked ~ label {
  color: gold;
}

#reviewSelectors {
  float:left;
}

.textReview {
  float: right;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/