/* Wrapper to prevent bottom nav bar from hiding content*/
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 100px;
}

p {
  background-color: #160F29;
  color: #F3DFC1;
  border-radius: 5px;
  padding-left: 5px;
  text-align: center;
  font-size: 3em;
}

p:hover {
  background-color: #DDBEA8;
}

#title {
  text-align: center;
}

/* Tablet:768px. */
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 26px; 
   }
 }
 
/* Mobile :320px. */
@media (max-width: 767px) {
   p {
    font-size: 24px;
   }
 }