/* Wrapper to prevent bottom nav bar from hiding content*/
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 25px;
}

/* Set the size of the div element that contains the map */
#map {
  height: 505px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

