/* Adds a bottom margin to the intro container on index.html */
#intro {
    margin-bottom: 20pt;
}

/* Aligns map search bar to the right (not working) */
.input-group {
    position: absolute;
    float: right;
}

/* Set the size of the div element that contains the map */
#map {
    height: 390px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }